:host {
  .profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    font-family: 'Tajawal', sans-serif !important;
    text-decoration: none;
  }
  mat-nav-list {
    flex: 1;
  }
}
