<mat-nav-list>
    <div class="profile-card">
        <div>
            <h2>Waseem Awashra</h2>
        </div>
        <img
            [src]="profile">
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>
        <mat-icon>library_books_two_tone</mat-icon>
        <h5>مساقاتي الدراسية</h5>
    </h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/course/1/view">
        <mat-icon>local_library_two_tone</mat-icon>
        الغناء بالنوته
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/course/2/view">
        <mat-icon>local_library_two_tone</mat-icon>
        قواعد البيانات
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/course/3/view">
        <mat-icon>local_library_two_tone</mat-icon>
        مدخل الي علم الحيوانات
    </a>
    <mat-divider></mat-divider>
    <!-- <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->   
</mat-nav-list>

<div>
    <img [src]="logoFooter" class="img-fluid" alt="d" />
    <div class="col-12 text-white text-center pt-4">
        <h6><small>جميع الحقوق محفوظة لدى فريق عمل إيجاز</small></h6>
    </div>
</div>