<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2><span jhiTranslate="ejazApp.course.detail.title">Course</span> {{ course.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ejazApp.course.name">Name</span></dt>
                <dd>
                    <span>{{ course.name }}</span>
                </dd>
                <dt><span jhiTranslate="ejazApp.course.symbol">Symbol</span></dt>
                <dd>
                    <span>{{ course.symbol }}</span>
                </dd>
                <dt><span jhiTranslate="ejazApp.course.description">Description</span></dt>
                <dd>
                    <span>{{ course.description }}</span>
                </dd>
                <dt><span jhiTranslate="ejazApp.course.coverImgUrl">Cover Img Url</span></dt>
                <dd>
                    <span>{{ course.coverImgUrl }}</span>
                </dd>
                <dt><span jhiTranslate="ejazApp.course.department">Department</span></dt>
                <dd>
                    <div *ngIf="course.departmentId">
                        <a [routerLink]="['/department', course.departmentId, 'view']">{{ course.departmentSymbol }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course', course.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
