<mat-divider>

</mat-divider>
<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row pr-5 pl-5 bg-bluez">
                <div class="col-1">
                </div>
                <div class="col-10" style="direction: ltr">
                    <div class="row pt-5 pr-5 pl-5 pb-1">
                        <div class="col-lg-3 col-12">
                            <img [src]="logoFooter" class="img-fluid" alt="d" />
                            <div class="col-12 text-white text-center pt-4">
                                <h6><small>جميع الحقوق محفوظة لدى فريق عمل إيجاز</small></h6>
                            </div>
                        </div>
                        <div class="col-lg-2 col-12 pt-5 text-center">
                            <img [src]="socialIcons" class="img-fluid" alt="" />
                        </div>
                        <div class="col-lg-5 col-12 text-white pt-3">
                            <h4><strong>للتواصل معنا</strong></h4>
                            <h6>info@ejazbzu.com</h6>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- <footer>
  &copy; All rights reserved 2020 , by Waseem awashra
</footer> -->
