<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="university">
            <h2><span jhiTranslate="ejazApp.university.detail.title">University</span> {{ university.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ejazApp.university.name">Name</span></dt>
                <dd>
                    <span>{{ university.name }}</span>
                </dd>
                <dt><span jhiTranslate="ejazApp.university.symbol">Symbol</span></dt>
                <dd>
                    <span>{{ university.symbol }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/university', university.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
