<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="college">
            <h2><span jhiTranslate="ejazApp.college.detail.title">College</span> {{ college.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ejazApp.college.name">Name</span></dt>
                <dd>
                    <span>{{ college.name }}</span>
                </dd>
                <dt><span jhiTranslate="ejazApp.college.symbol">Symbol</span></dt>
                <dd>
                    <span>{{ college.symbol }}</span>
                </dd>
                <dt><span jhiTranslate="ejazApp.college.coverImgUrl">Cover Img Url</span></dt>
                <dd>
                    <span>{{ college.coverImgUrl }}</span>
                </dd>
                <dt><span jhiTranslate="ejazApp.college.university">University</span></dt>
                <dd>
                    <div *ngIf="college.universityId">
                        <a [routerLink]="['/university', college.universityId, 'view']">{{ college.universitySymbol }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/college', college.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
