<div style="overflow: auto;">
    <!-- بداية تصميم الصفحة  -->
    <div class="container">
        <div class="row" style="direction: ltr">
            <!-- الهيدر الثانوي  -->
            <div class="col-lg-4 col-12 pt-5 mt-5">
                <img [src]="hederImg" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-8 col-12 pt-5 mt-5">
                <h1 class="mt-5"><strong>إيجاز ... إختيارك الأفضل</strong></h1>
                <h4>ايجاز هي منصة تجمع طلاب جامعة بيرزيت في مكان واحد لتبادل المواد التعليمية</h4>
            </div>
            <!-- جزئية البحث  -->
            <div class="col-12 pt-5 mt-5">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3" style="border-radius: 5px 0 0 5px;"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="هل تريد البحث عن مساق، كلية، دائرة" style="direction:rtl;border-radius: 0 5px 5px 0;">
                </div>
            </div>
        </div>
    </div>
    <!-- جزئية مربع ازرق على طول الصفحة  -->
    <div class="container-fluid">
        <div class="row p-5 mt-5 bg-bluez">
            <div class="col-lg-2 col-1">
            </div>
            <div class="col-lg-8 col-10 p-3 text-center text-white">
                <h1><strong>عن إيجاز</strong></h1>
                <h4>المنصة التعليمية الأولى التي تقدم مجموعة من الخدمات المشتركة بين طلاب جامعة بيرزيت في مكان واحد، لتبادل المواد التعليمية وكل ما يلزم الطالب في دراسته الجامعية</h4>
            </div>
            <div class="col-lg-2 col-1">
            </div>
        </div>
    </div>
    <!-- جزئية خدماتنا  -->
    <div class="container">
        <div class="row p-5">
            <div class="col-12 text-center">
                <h1><strong>خدماتنا</strong></h1>
            </div>
            <div class="col-lg-4 col-12 mb-4">
                <div class="text-center p-5" style="background:#efefef;border-radius:20px;">
                    <h4><strong>أسئلة وإستفسارات</strong></h4>
                    <br />
                    <h1 style="font-size:100px;"><i class="fas fa-comments"></i></h1>
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-4">
                <div class="text-center p-5" style="background:#efefef;border-radius:20px;">
                    <h4><strong>نماذج إختبارات</strong></h4>
                    <br />
                    <h1 style="font-size:100px;"><i class="fas fa-copy"></i></h1>
                </div>
            </div>
            <div class="col-lg-4 col-12 mb-4">
                <div class="text-center p-5" style="background:#efefef;border-radius:20px;">
                    <h4><strong>مواد تعليمية</strong></h4>
                    <br />
                    <h1 style="font-size:100px;"><i class="fas fa-book"></i></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- جزئية لماذا إيجاز؟  -->
    <div class="container-fluid">
        <div class="row p-5 mt-5 bg-laptop">
            <div class="col-1">
            </div>
            <div class="col-10 p-4 text-center text-white">
                <h1 style="direction:rtl;"><strong>لماذا إيجاز ؟!</strong></h1>
                <div class="row mt-5">
                    <div class="col-lg-2 col-6 text-center">
                        <h1 style="font-size:60px;"><i class="fas fa-handshake"></i></h1>
                        <h5>الملكية</h5>
                    </div>
                    <div class="col-lg-2 col-6 text-center">
                        <h1 style="font-size:60px;"><i class="fas fa-medal"></i></h1>
                        <h5>رضاء</h5>
                    </div>
                    <div class="col-lg-2 col-6 text-center">
                        <h1 style="font-size:60px;"><i class="fas fa-thumbs-up"></i></h1>
                        <h5>مثالي</h5>
                    </div>
                    <div class="col-lg-2 col-6 text-center">
                        <h1 style="font-size:60px;"><i class="fas fa-recycle"></i></h1>
                        <h5>خيار</h5>
                    </div>
                    <div class="col-lg-2 col-6 text-center">
                        <h1 style="font-size:60px;"><i class="fas fa-tachometer-alt"></i></h1>
                        <h5>سريع</h5>
                    </div>
                    <div class="col-lg-2 col-6 text-center">
                        <h1 style="font-size:60px;"><i class="fas fa-user-graduate"></i></h1>
                        <h5>المحتوى</h5>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>

        </div>

    </div>
</div>
