<div>
    <h2 id="page-heading">
        <span jhiTranslate="ejazApp.document.home.title">Documents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/document/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ejazApp.document.home.createLabel">
            Create a new Document
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="documents?.length === 0">
        <span jhiTranslate="ejazApp.document.home.notFound">No documents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="documents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="ejazApp.document.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="active"><span jhiTranslate="ejazApp.document.active">Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="ejazApp.document.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ratingSum"><span jhiTranslate="ejazApp.document.ratingSum">Rating Sum</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ratingNumber"><span jhiTranslate="ejazApp.document.ratingNumber">Rating Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="view"><span jhiTranslate="ejazApp.document.view">View</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="courseSymbol"><span jhiTranslate="ejazApp.document.course">Course</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentTypeType"><span jhiTranslate="ejazApp.document.documentType">Document Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="studentName"><span jhiTranslate="ejazApp.document.student">Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of documents ;trackBy: trackId">
                    <td><a [routerLink]="['/document', document.id, 'view']">{{ document.id }}</a></td>
                    <td>{{ document.title }}</td>
                    <td>{{ document.active }}</td>
                    <td>{{ document.description }}</td>
                    <td>{{ document.ratingSum }}</td>
                    <td>{{ document.ratingNumber }}</td>
                    <td>{{ document.view }}</td>
                    <td>
                        <div *ngIf="document.courseId">
                            <a [routerLink]="['/course', document.courseId , 'view']" >{{ document.courseSymbol }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="document.documentTypeId">
                            <a [routerLink]="['/document-type', document.documentTypeId , 'view']" >{{ document.documentTypeType }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="document.studentId">
                            <a [routerLink]="['/student', document.studentId , 'view']" >{{ document.studentName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/document', document.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/document', document.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(document)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="documents?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
